html,body{
	overflow: hidden;
	background: #FFF;
}
section{
	width: 100%;
	height: 100%;
	padding-bottom: 2.15rem;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.mui-content{
	background: #FFFFFF;
}
#num{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.mask{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	display: none;
	z-index: 1000;
}
.youhuijuanxiangqin{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 1.10rem;
	background: #fff;
	display: none;
	z-index: 1000;
}
.youhuijuanxiangqin ul{
	border-top: 1px solid #eee;
	width: 100%;
	max-height: 6.6rem;
	overflow: scroll;
}
.youhuijuanxiangqin ul li{
	width: 100%;
	box-sizing: border-box;
	padding:  0.48rem 0.6rem;
	height: auto;
	border-bottom: 1px solid #eee;
	position: relative;
}
.youhuijuanxiangqin ul li p{
	width: 100%;
}
.youhuijuanxiangqin ul li p:nth-child(1){
	height: 0.5rem;
	color: #fe547b;
	font-weight: bold;
	font-size: 0.32rem;
}
.youhuijuanxiangqin ul li p:nth-child(2){
	height: 0.5rem;
	color: #686868;
	font-size: 0.28rem;
}
.youhuijuanxiangqin ul li p:nth-child(3){
	color: #cbcbcb;
	font-size: 0.24rem;
}
.youhuijuanxiangqin ul li .btn{
	width: 1.4rem;
	height: 0.5rem;
	position: absolute;
	bottom: 0.8rem;
	right: 0.6rem;
	border: 1px solid #fe547b;
	border-radius: 0.25rem;
	line-height: 0.5rem;
	text-align: center;
	color: #fe547b;
}
.youhuijuanxiangqin .close{
	width: 100%;
	height: 1.36rem;
	font-size: 0.38rem;
	text-align: center;
	line-height: 1.36rem;
	color: #fff;
	background:#fe547b;
}
.youhui{
	width: 100%;
	height: 1.26rem;
	border-bottom: 1px solid #eeeeee;
}
.youhui .quanxuan{
	height: 1.26rem;
	width: 1.4rem;
	float: left;
	margin-left: 0.6rem;
}
.youhui .quanxuan span{
	width: 0.4rem;
	display: block;
	float: left;
	height: 1.26rem;
	font-size: 0.4rem;
	line-height: 1.26rem;
	color: #fe547b;
}
.youhui .youhuijuan{
	float: right;
	width: 1rem;
	height: 0.4rem;
	margin: 0.42rem 0.6rem;
	border: 1px solid #fe547b;
	color: #fe547b;
	text-align: center;
	line-height: 0.4rem;
}
.youhui .quanxuan span:nth-child(2){
	color: black;
	width: 0.8rem;
	text-align: center;
	font-size: 0.28rem;
}
.youhuixiangqing{
	width: 100%;
	height: auto;
	background: #f2f2f2;
}
.youhuixiangqing li{
	width: 100%;
	height: 0.84rem;
	border-bottom: 1px solid #eee;
}
.youhuixiangqing li .iconfont{
	display: block;
	height: 0.84rem;
	width: 0.9rem;
	line-height: 0.84rem;
	margin-left: 0.6rem;
	color: #fe547b;
	font-size: 0.52rem;
	float: left;
}
.youhuixiangqing li .num{
	float: right;
	height: 0.84rem;
	line-height: 0.84rem;
	margin-right: 0.6rem;
}
.youhuixiangqing li  p{
	height: 0.84rem;
	line-height: 0.84rem;
	font-size: 0.24rem;
	float: left;
}
.shangpin{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 3.5rem;
	top: 1.26rem;
	overflow: scroll;
}
.shangpin li{
	width: 100%;
	height: 1.88rem;
	display: flex;
	border-bottom: 1px solid #eee;
}
.shangpin li .iconfont{
	display: block;
	float: left;
	height: 1.88rem;
	line-height: 1.88rem;
	font-size: 0.4rem;
	color: #fe547b;
	margin-left: 0.6rem;
	width: 0.64rem;
}
.shangpin li .xiangqing{
	flex: 1;
	display: block;
	float: left;
	width: auto;
	height: 1.88rem;
	box-sizing: border-box;
	padding: 0.34rem 0;
	position: relative;
}
.shangpin li .xiangqing img{
	display: block;
	float: left;
	height: 1.2rem;
	margin-right: 0.34rem;
}
.shangpin li .xiangqing .center{
	float: left;
	height: 1.2rem;
}
.shangpin li .xiangqing .center h5{
	height: 0.4rem;
	max-width: 4rem;
	color: #000;
	font-size: 12px;
	font-weight: bold;
}
.shangpin li .xiangqing .center p{
	height: 0.4rem;
	line-height: 0.4rem;
	max-width: 4rem;
}
.shangpin li .xiangqing .center p.xinghao{
	color: #999999;
}
.shangpin li .xiangqing .center p .money{
	margin-right: 0.5rem;
	color: #fe547b;
	font-weight: 600;
}
.shangpin li .xiangqing .center p .money a{
	color: #fe547b;
}
.shangpin li .xiangqing .center p .daojishi{
	color: #999999;
	
}
.shangpin li .xiangqing .num{
	position: absolute;
	right: 0.2rem;
	bottom: 0.44rem;
	display: block;
	height: 0.4rem;
	width: 1.6rem;
}
.shangpin li .xiangqing .num span{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 0.4rem;
	width: 0.4rem;
	display: block;
	float: left;
	border-radius: 50%;
	
	line-height: 0.4rem;
	text-align: center;
	font-size: 0.32rem;
}
.shangpin li .xiangqing .num input{
	display: block;
	border: none;
	outline: none;
	height: 0.4rem;
	width: 0.8rem;
	float: left;
	text-align: center;
}
.jiesuan{
	width: 100%;
	height: 1.4rem;
	position: absolute;
	left: 0;
	bottom: 2.15rem;
	border-top: 1px solid #eeeeee;
	box-sizing: border-box;
	padding: 0.5rem 0 0.5rem 0.6rem;
	background: #fff;
	z-index: 999;
}
.jiesuan .left{
	height: 0.4rem;
}
.jiesuan .left span{
	line-height: 0.4rem;
	height: 0.4rem;
	display: block;
	font-weight: bold;
	float: left;
}
.jiesuan .right{
	width: 3rem;
	height: 1.4rem;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	line-height: 1.4rem;
	font-size: 0.38rem;
	color: #fff;
	background:#fe547b;
}
