html,body{
	overflow: hidden;
}
.kinerNav{
	color: #cccccc;
}
.kinerNav > li.active {
    color: #fe547b;
}
.weekmouthnav{
	width: 100%;
	height: 1rem;
	overflow: hidden;
}
.weekmouthnav li{
	color: #b8b8b8;
	text-align: center;
	line-height: 1rem;
	height: 1rem;
	width: 50%;
	float: left;
	font-size: 0.38rem;
	font-weight: bold;
}
.weekmouthnav > li.active{
	color: #fe547b;
	position: relative;
}
.weekmouthnav > .mouthnav.active:after{
	content: '';
    display: block;
    height: 1.5rem;
    width: 100%;
    position: absolute;
    right: 0.25rem;
    top: -0.2rem;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    z-index: 150;
    border-left: 3px solid #eeeeee;
}
.weekmouthnav > .weeknav.active:after{
	content: '';
    display: block;
    height: 1.5rem;
    width: 100%;
    position: absolute;
    left: 0.25rem;
    top: -0.2rem;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    z-index: 150;
    border-right: 3px solid #eeeeee;
}
.kinerContent{
	width: 100%;
	height: 100%;
	padding-bottom: 4.1rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.lists{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: scroll;
	padding-bottom: 1rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.lists.mouth{
	display: none;
}
.newlist{
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.lastlist{
	width: 100%;
	height: 100%;
	display: none;
	overflow: scroll;
}
.lists .my{
	width: 100%;
	height: 1.46rem;
	background: #eeeeee;
	padding:0.28rem 0.6rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.lists .myelse{
	background: #FFF;
	border-bottom: 1px solid #EEEEEE;
}
.lists .touxiang{
	display: block;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	float: left;
	margin-right: 0.8rem;
	overflow: hidden;
}
.lists .touxiang img{
	display: block;
	width: 100%;
	height: 100%;
}
.lists .infromtion{
	height: 0.9rem;
	float: left;
}
.lists .infromtion .name{
	height: 0.6rem;
	line-height:0.6rem;
	font-weight: bold;
	font-size: 0.28rem;
}
.lists .infromtion .yongjin{
	height: 0.3rem;
	line-height:0.3rem;
	color: #c9c9c9;
}
.lists .infromtion .yongjin a{
	color: #fe547b;
}
.lists .my .rank{
	color:#b6b6b6
}
.lists .my .rank a{
	color:#fe547b;
}
.lists .rank{
	display: block;
	float: right;
	height: 0.9rem;
	line-height: 0.9rem;
	color:#fe547b;
}
.ranklist{
	width: 100%;
	height: auto;
}
.ranklist li{
	width: 100%;
	height: 1.46rem;
	background: #fff;
	padding:0.28rem 0.6rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #EEEEEE;
}
/*top1*/
.ranklist li:nth-child(2){
	height: 2.6rem;
	padding: 0;
}
.ranklist li:nth-child(2) .one{
	height: 2.6rem;
	width: 2.6rem;
	background: url(../img/56e387b843b6a_1024.png) no-repeat ;
	background-size: 100%;
	float: left;
	position: relative;
}
.ranklist li:nth-child(2) .infromtion{
	height: 2.6rem;
	padding:0.6rem 0 0.6rem 0.3rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
}
.ranklist li:nth-child(2) .infromtion .name{
	height: 1rem;
	line-height: 1rem;
}
.ranklist li:nth-child(2) .topone{
	display: block;
	height: 2.6rem;
	line-height: 2.6rem;
	font-size: 0.56rem;
	text-align: center;
	float: right;
	margin-right: 0.6rem;
}
.ranklist li:nth-child(2) .touxiang{
	width: 1.34rem;
	height: 1.34rem;
	margin: 0.63rem 0 0.63rem 0.6rem;
	background: #f5a517;
	z-index: 999;
	position: absolute;
}
.ranklist li:nth-child(2) .touxiang img{
	display: block;
	width: 1.22rem;
	height: 1.22rem;
	margin: 0.06rem;
	border-radius: 50%;
}
.ranklist li:nth-child(2) .huangguan{
	display: block;
	position: absolute;
	left: 1.27rem;
	top: 0.17rem;
	margin-left: -0.35rem;
	height: 0.54rem;
	width: 0.7rem;
	background: #fff;
	overflow: hidden;
}
.ranklist .huangguan svg{
	width: 100%;
	height: 100%;
}
/*top2*/
.ranklist li:nth-child(3){
	height: 1.8rem;
	padding: 0;
}
.ranklist li:nth-child(3) .two{
	height: 1.8rem;
	width: 1.8rem;
	float: left;
	position: relative;
}
.ranklist li:nth-child(3) .infromtion{
	height: 1.8rem;
	padding:0.3rem 0 0.3rem 0.6rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
}
.ranklist li:nth-child(3) .infromtion .name{
	height: 0.8rem;
	line-height: 0.8rem;
}
.ranklist li:nth-child(3) .toptwo{
	display: block;
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 0.56rem;
	text-align: center;
	float: right;
	margin-right: 0.6rem;
}
.ranklist li:nth-child(3) .touxiang{
	width: 1rem;
	height: 1rem;
	margin: 0.6rem 0.4rem 0.2rem 0.4rem;
	margin-left: 0.6rem;
	background: #dddddd;
	position: absolute;
	z-index: 999;
}
.ranklist li:nth-child(3) .touxiang img{
	display: block;
	width: 0.88rem;
	height: 0.88rem;
	margin: 0.06rem;
	border-radius: 50%;
}
.ranklist li:nth-child(3) .huangguan{
	display: block;
	position: absolute;
	left: 1.1rem;
	top: 0.13rem;
	margin-left: -0.2rem;
	height: 0.54rem;
	width: 0.4rem;
	font-size: 0.6rem;
	text-align: center;
	line-height: 0.55rem;
	background: #fff;
	overflow: hidden;
}
/*top3*/
.ranklist li:nth-child(4){
	height: 1.8rem;
	padding: 0;
}
.ranklist li:nth-child(4) .three{
	height: 1.8rem;
	width: 1.8rem;
	float: left;
	position: relative;
}
.ranklist li:nth-child(4) .infromtion{
	height: 1.8rem;
	padding:0.3rem 0 0.3rem 0.6rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
}
.ranklist li:nth-child(4) .infromtion .name{
	height: 0.8rem;
	line-height: 0.8rem;
}
.ranklist li:nth-child(4) .topthree{
	display: block;
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 0.56rem;
	text-align: center;
	float: right;
	margin-right: 0.6rem;
}
.ranklist li:nth-child(4) .touxiang{
	width: 1rem;
	height: 1rem;
	margin: 0.6rem 0.4rem 0.2rem 0.4rem;
	margin-left: 0.6rem;
	background: #dbc7ae;
	position: absolute;
	z-index: 999;
}
.ranklist li:nth-child(4) .touxiang img{
	display: block;
	width: 0.88rem;
	height: 0.88rem;
	margin: 0.06rem;
	border-radius: 50%;
}
.ranklist li:nth-child(4) .huangguan{
	display: block;
	position: absolute;
	left: 1.1rem;
	top: 0.13rem;
	margin-left: -0.2rem;
	height: 0.54rem;
	width: 0.4rem;
	font-size: 0.6rem;
	text-align: center;
	line-height: 0.55rem;
	background: #fff;
	overflow: hidden;
}
.more{
	width: 100%;
	height: 0.66rem;
	line-height: 0.66rem;
	font-weight: bold;
	line-height: 0.66rem;
	text-align: center;
	font-size: 0.28rem;
	
}
.chakan{
	width: 100%;
	background: #fff;
	display: block;
	height: 1rem;
	line-height: 1rem;
	color: #fe547b;
	position: fixed;
	right: 0;
	bottom: 0;
	text-align: right;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-right: 0.6rem;
}
.chakan a{
	display: block;
	height: 0.3rem;
	line-height: 0.3rem;
	margin: 0.03rem 0;
	float: right;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
}
