html,body{
	background: #f2f2f2;
	overflow: hidden;
}
.head{
	width: 100%;
	height: 1.1rem;
	background: #fff;
}
.head .goback{
	display: block;
	float: left;
	width: 0.8rem;
	height: 1.1rem;
	line-height: 1.1rem;
	text-align: center;
	font-size: 0.5rem;
	font-weight: bold;
}
.head h2{
	float: left;
	
	line-height: 1.1rem;
}
.top{
	width: 100%;
	height: 1.9rem;
	background: #fff;
	border-bottom: 1px solid #eeeeee;
	box-sizing: content-box;
	margin-bottom: 0.2rem;
	padding-top: 0.2rem;
}
.top .touxiang{
	display: block;
	margin: 0 auto;
	
	border-radius: 50%;
	width: 1.74rem;
	height: 1.74rem;
	position: relative;
	overflow: hidden;
}
.top .touxiang .sex{
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	right: 0.12rem;
	bottom: 0.16rem;
	font-size: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	background: #fff;
	color: #01c5c4;
	border-radius: 50%;
}
.top .touxiang img{
	display: block;
	width: 100%;
	height: 100%;
}
.top p{
	width: 100%;
	text-align: center;
	height: 0.96rem;
	line-height: 0.96rem;
	color: #666666;
}
.top p span{
	font-weight: bold;
	color: #ff6588;
	font-size: 0.28rem;
	margin: 0 0.05rem;
}
.mui-scroll-wrapper{
	top: 3.5rem;
}
.kinerNav{
	margin-bottom: 0.2rem;
	color: #bfbfbf;
	height: 0.95rem;
	background: #F6F6F6;
}
.kinerNav li{
	width: 50%;
	line-height: 0.95rem;
	text-align: center;
	font-size: 0.28rem;
	float: left;
}
.kinerNav li.active{
	background: #FFF;
	color: #ff6588;
}

.kinerItem li{
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: auto;
}
.kinerItem li .ltop{
	width: 100%;
	height: 2.2rem;
	padding-top: 0.8rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #fff;
}
.kinerItem li .ltop .right p{
	color: #fff;
}
.kinerItem li .ltop .right p:nth-child(1){
	text-indent: 0.4rem;
	height: 0.44rem;
	color:#f7c8d8;
	font-size: 0.32rem;
}
.kinerItem li .ltop .right p:nth-child(2){
	text-indent: 0.32rem;
	height: 0.96rem;
	line-height: 0.48rem;
	font-size: 0.36rem;
	font-weight: bold;
}
.kinerItem li .ltop .left p,a{
	color: #fff;
	height:1.4rem;
	float:right;
}
.kinerItem li .ltop .left p{
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.8rem;
	font-weight: bold;
}
.kinerItem li .ltop .left a{
	height:0.3rem;
	line-height: 0.3rem;
	font-size: 0.3rem;
	margin-top: 0.45rem;
}
.kinerItem li .ltop .left{
	width: 3.15rem;
	height: 1.2rem;
}
#youxiao li .ltop{
	background: url(../image/my_coupons_bg.png);
	background-size: 100%;
}
#shixiao li .ltop{
	background: url(../image/my_coupons_failure_bg.png);
	background-size: 100%;
}
.kinerItem li .ltop div{
	float:left;
}
.kinerItem li .bottom{
	height: 0.8rem;
	line-height: 0.8rem;
	text-indent: 0.48rem;
	color: #666666;
}
.mui-content{
	background: #FFF;
}